<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright 2013 The Android Open Source Project

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.actionbarcompat.listpopupmenu"
    android:versionCode="1"
    android:versionName="1.1">

    <!-- ActionBarCompat provides an implementation of Popup Menu from API v7 onwards -->
    <!-- Min/target SDK versions (<uses-sdk>) managed by build.gradle -->
    <!-- PackageManager.hasSystemFeature(FEATURE_BLUETOOTH_LE) -->
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!--Для вибрации необходимо прописать в манифесте-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!--<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />-->
    <!--<uses-permission android:name="android.permission.WRITE_SETTINGS" />-->
    <!--<uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />-->
    <!--<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>-->

    <!--для записи пользовательских настроек-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:icon="@android:drawable/ic_menu_revert"
        android:label="@string/app_name"
        android:allowBackup="true"
        android:theme="@style/Theme.AppCompat.Light"
        android:name=".RunDataHub">
        <!--android:theme="@android:style/Theme.Holo"-->
        <!--android:theme="@style/Theme.AppCompat.Light"-->
        <!--android:theme="@style/AppThemeN"-->
        <!--android:theme="@style/Theme.Design.Light"-->
        <!--
        Support Library Setup
        https://developer.android.com/topic/libraries/support-library/setup.html

http://www.fandroid.info/nastrojka-paneli-dejstvij-actionbar/

Начиная с Android 3.0 (Уровень API 11), панель действий входит во все виды деятельности,
которые используют Theme.Holo тему (или одну из её потомков), которая является темой по умолчанию,
когда targetSdkVersion или minSdkVersion атрибут установлен в "11" или больше.

        android:theme="@style/Theme.AppCompat" -->

        <activity android:name=".MainActivity">
            <!-- Launcher Intent filter -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".DeviceScanActivity"
            android:theme="@android:style/Theme.Holo.Light">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainSettingSetting"
            android:theme="@style/AppThemeM">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--android:windowSoftInputMode="stateAlwaysVisible" -  задал клавиатуру видимой всегда в этой активности-->

        <activity android:name=".SettingName"
            android:theme="@style/AppThemeM"
            >
            <!--android:windowSoftInputMode="stateAlwaysVisible"-->
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SettingMaker" android:theme="@style/AppThemeM"/>
        <activity android:name=".SettingMinMax" android:theme="@style/AppThemeM"/>
        <service android:name="com.portfolio.alexey.connector.BluetoothLeServiceNew" android:enabled="true"/>

    </application>

</manifest>